@import 'reset';
@import 'variables/variables';
@import './themes/dark';
@import './themes/normal';

html,
body {
  height: 100%;
}

.app {
  min-height: 100vh;
  font: var(--font-m);
  color: var(--primary-color);
  background-color: var(--bg-color);
}
