@import 'reset.scss';
@import 'variables/variables.scss';
@import './themes/dark.scss';
@import './themes/normal.scss';

html, body {
  height: 100%;
}

.app {
  font: var(--font-m);
  color: var(--primary-color);
  background-color: var(--bg-color);

  min-height: 100vh;
}