.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: var(--sidebar-width);
  min-height: calc(100vh - var(--header-height));
  padding: 16px;
  color: var(--inverted-primary-color);
  background-color: var(--inverted-bg-color);
  transition: width 0.3s ease-in-out;
}

.actions {
  display: flex;
  gap: 12px;
}

.collapsed {
  align-items: center;
  width: var(--collapsed-sidebar-width);

  & .actions {
    flex-direction: column;
  }
}

.collapsed-button {
  position: absolute;
  right: 0;
  bottom: 30px;
  transform: translateX(100%);
}

.nav {
  display: flex;
  flex-direction: column;
  gap: var(--font-line-s);
}
