.input {
  height: 60px;
  padding: 1rem;
  font-size: var(--font-size-l);
  color: var(--inverted-primary-color);
  text-align: center;
  background-color: var(--inverted-bg-color);
  border: none;
  border-radius: 1rem;
  outline: none;
}
