.light {
  --bg-color: #f1f1f1;
  --inverted-bg-color: #3e4348;
  --primary-color: #232323;
  --inverted-primary-color: #ececec;
  --secondary-color: #5b5b5b;
  --inverted-secondary-color: #bebebe;
  --red-light-color: #f11313;
}
