@import '@/shared/styles/mixins.scss';

.root {
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  
  @include cleared-link {
    text-decoration: none;
    color: var(--primary-color);
  }
}

.primary {
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.cleared {
  padding: 0;
  background-color: transparent;
  border-radius: 8px;
  color: var(--primary-color);
}