@import '@/shared/styles/mixins';

.root {
  padding: 4px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  outline: none;

  @include cleared-link {
    color: var(--primary-color);
    text-decoration: none;
  }
}

.primary {
  color: var(--inverted-primary-color);
  background-color: var(--inverted-bg-color);
}

.cleared {
  padding: 0;
  color: var(--primary-color);
  background-color: transparent;
  border-radius: 8px;
}
