.profile-card {
  padding: 20px;
  border: 1px solid #3e4348;
  border-radius: 8px;
  box-shadow: 2px 2px 2px #5b5b5b;
}

.header {
  display: flex;
}

.data {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.input {
  margin-top: 10px;
}
