.root {
  text-decoration: none;
}

@mixin any-link() {
  &,
  &:active,
  &:visited,
  &:link,
  &:any-link {
    @content
  }
}

.primary {
  @include any-link {
    color: var(--primary-color);
  }
}

.inverse {
  @include any-link {
    color: var(--inverted-primary-color);
  }
}

.active {
  @include any-link {
    color: #209bde;
  }
}