.root {
  text-decoration: none;
}

.primary {
  &,
  &:active,
  &:visited,
  &:link,
  &:any-link {
    color: var(--primary-color);
  }
}

.inverse {
  &,
  &:active,
  &:visited,
  &:link,
  &:any-link {
    color: var(--inverted-primary-color);
  }
}
